#title {
    background-color:#dbc1ac;
}

.img{
    width:500px;
    height:500px;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    color:white solid 1px;

}
h1{
   font-family: 'Montserrat', sans-serif;
   color:#fff;
   size:2.03rem;
   line-height:1.5;
}

h2{
    font-family:'Montserrat', sans-serif;
    line-height:1.5;
    size:2.03rem;
    padding:3% 15%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size:2.03rem;
}

.container-fluid{
    padding:3% 15%;
}

.easy{
    margin:auto;
}
.icon{
    margin-bottom:1rem;
}

#features{
    padding:7% 15%;
    text-align:center;
    padding:5%;
}

.image{
    height:100px;
    width:100px;
    border-radius: 50%;
    margin:20px;
}

.press{
    background-color: #dbc1ac;
    text-align:center;
    padding:3%;
}

.press-icon{
    width:15%;
    margin:20px 20px 50px;
}

.pricing{
    padding:3% 2%;

}

.price{
    text-align:center;
}

.testimonial-image{
    border-radius:100%;
    width:100px;
    height:100px;
    margin:20px;
}
#testimonials{
    padding:7% 15%;
    text-align:center;
    background-color:#dbc1ac;
    color:#fff;
}

#cta{
    background-color:#dbc1ac;
    text-align:center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    size:2.03rem;
    line-height:1.5;
    padding:7% 15%;
}

.cta-heading{
    padding-bottom:5%;
}

#footer{
    background-color:#dbc1ac;
    text-align:center;
    padding-bottom:20px;
    padding-top:10px;
    font-size:10px;

}

@media(max-width:1028px){
    .img{
        height:300px;
        width:400px;
        padding:5%;
    }
    .row{
        text-align:center;
    }
   
}



